*
{
	box-sizing: border-box;
	color:white;
	font-family:Arial, sans-serif;
}

.row
{
	display: inline-flex;
	clear: both;
}

streamBtn {
  	left: 50%;
	color:white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 128px;
	background-color: #000000;
}
